.principal{
    border-radius: 10px;
    box-shadow: 0.1em 0.5em 1em #213E98;
}
.btn{
    margin-top: 1em;
    margin-bottom: 1em;
}
.container{
    margin-top: 1em;
    margin-bottom: 2em;
}

p{
    margin-top: 2em;
}