<div class="container text-center principal">
    <div class="row align-items-center">
            <div class="col-4"></div>
            <div class="col-4">
                <p>Aqui ira tu texto generado</p>
            </div>
            <div class="col-4"></div>
    </div>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <input class="form-control" [(ngModel)]="prompt" placeholder="Ingresa tu prompt aquí">
        </div>
        <div class="col-4"></div>
    </div>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <button class="btn btn-primary" (click)="generateText()">Generar con IA</button>
        </div>
        <div class="col-4"></div>
    </div>
</div>
