
    <!-- Footer -->
    <footer
            class="text-center text-lg-start text-dark"
            style="background-color: #ECEFF1"
            >
      <!-- Section: Social media -->
      <section
               class="d-flex justify-content-between p-4 text-white"
               style="background-color: #21D192"
               >
        <!-- Left -->
        <div class="me-5">
          <span>Siguenos en nuestras redes sociales:</span>
        </div>
        <!-- Left -->
  
        <!-- Right -->
        <div>
          <a href="" class="text-white me-4">
            <i class="fa fa-facebook-f"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fa fa-twitter"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fa fa-instagram"></i>
          </a>

        </div>
        <!-- Right -->
      </section>
      <!-- Section: Social media -->
  
      <!-- Section: Links  -->
      <section class="">
        <div class="container text-center text-md-start mt-5">
          <!-- Grid row -->
          <div class="row mt-3">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <!-- Content -->
              <h6 class="text-uppercase fw-bold">Primera Infancia Cr</h6>
              <hr
                  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: #7c4dff; height: 2px"
                  />
              <p>
                Primera Infancia CR se encarga de brindar a sus usuarios recursos
                didacticos los cuales se pueden aprovechar para reforzar la educacion
                de los más pequeños y ayudar a formar a los profesionales del futuro.
              </p>
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold">Recursos</h6>
              <hr
                  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: #7c4dff; height: 2px"
                  />
              <p>
                <a href="#!" class="text-dark">Imagenes</a>
              </p>
              <p>
                <a href="#!" class="text-dark">Videos</a>
              </p>
              <p>
                <a href="#!" class="text-dark">Cuentos</a>
              </p>
              <p>
                <a href="#!" class="text-dark">Documentos</a>
              </p>
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold">Su Cuenta</h6>
              <hr
                  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: #7c4dff; height: 2px"
                  />
              <p>
                <a href="#!" class="text-dark">Ver Perfil</a>
              </p>
              <p>
                <a href="#!" class="text-dark">Recursos Favoritos</a>
              </p>
              <p>
                <a href="#!" class="text-dark">Añadir Recursos</a>
              </p>
              <p>
                <a href="#!" class="text-dark">Ayuda</a>
              </p>
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold">Contacto</h6>
              <hr
                  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: #7c4dff; height: 2px"
                  />
              <p><i class="fa fa-home mr-3"></i> San José, Costa Rica</p>
              <p><i class="fa fa-envelope mr-3"></i> {{emailSoporte}}</p>
              <p><i class="fa fa-phone mr-3"></i> 86727296</p>x
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row -->
        </div>
      </section>
      <!-- Section: Links  -->
  
      <!-- Copyright -->
      <div
           class="text-center p-3"
           style="background-color: rgba(0, 0, 0, 0.2)"
           >
        © 2024 Copyright:
        <a class="text-dark" href="https://mdbootstrap.com/"
           >www.primerainfanciacr.com</a
          >
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->