<div class="row">
    <app-header></app-header>
</div>
<div class="row">
    <app-category-navigation (optionSelected)="selectOption($event)"></app-category-navigation>
</div>
@if(selectedOption === 'Inicio'){
    <div class="row">
        <app-carousel></app-carousel>
    </div>
}
@if(selectedOption === 'Recursos'){
    <div class="row">
        <app-resources></app-resources>
    </div>
}
@if(selectedOption === 'Generador IA'){
    <div class="row">
        <div class="col-2"></div>
        <div class="col-2 btnOption"><a href="#" class="btn btn-success" (click)="selectOptionAI('ImageGenerator'); $event.preventDefault()">Generar Imagen</a></div>
        <div class="col-2 btnOption"><a href="#" class="btn btn-success" (click)="selectOptionAI('TextGenerator'); $event.preventDefault()">Generar Texto</a></div>
    </div>
    @if(selectedOptionAI == 'ImageGenerator'){
        <div class="row">
            <app-image-generator-ai></app-image-generator-ai>
        </div>
    }
    @if(selectedOptionAI == 'TextGenerator'){
        <div class="row">
            <app-text-generator-ai></app-text-generator-ai>
        </div>
    }
    
}
<div class="row">
    <app-footer></app-footer>
</div>

