@import "bootstrap/scss/bootstrap";

.navbar{
  background-color: #0ECB79;
  padding-top: 1%;
  padding-bottom: 1%;
}

.navbar-hover:hover, .nav-link:hover{
  color: white;
}

.search-box{
  width: 90%;
  height: 2.5em;
  display: inline-block;
  border: none;
}

.dropdown-search-bar{
  width: 25%;
  height: 2.5em;
  display: inline-block;
  border: none;
  border-radius: 8%;
  background-color: #F8F9FA;
}
